@model Clinic

@{
    ViewData["Title"] = "Details";
    SelectList regionLst = new SelectList(ViewBag.Regions, "Id", "Name", Model.RegionId ?? -1);
}

<div class="row" style="width:100%">
    <div class="col-12 pb-2">
        <div class="card custom-card">
            <div class="row">
                <input asp-for="Id" hidden class="form-control" type="text">
                <div class="form-group col-6">
                    <label asp-for="Region"></label>
                    <select disabled asp-for="RegionId" asp-items="regionLst" class="form-control">
                        <option value="-1">no region selected</option>
                    </select>
                    <span id="Region" asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Address"></label>
                    <input disabled asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Phone1"></label>
                    <input disabled asp-for="Phone1" class="form-control" />
                    <span asp-validation-for="Phone1" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Phone2"></label>
                    <input disabled asp-for="Phone2" class="form-control" />
                    <span asp-validation-for="Phone2" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="Phone3"></label>
                    <input disabled asp-for="Phone3" class="form-control" />
                    <span asp-validation-for="Phone3" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 col-9">
                    <button type="button" onclick="toggle()" class="btn btn-info mr-2">
                        Edit
                    </button>
                    <button type="button" hidden onclick="saveChanges()" class="btn btn-info mr-2">
                        Save
                    </button>
                    <button type="button" hidden onclick="toggle()" class="btn btn-warning text-white">
                        Cancel
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 pb-2">
        <div class="card custom-card">
            <div class="row">
                <div class="form-group col-12">
                    <table class="table" id="doctor_clinic">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Specialty</th>
                                <th scope="col">StartDay</th>
                                <th scope="col">EndDay</th>
                                <th scope="col">StartTime</th>
                                <th scope="col">EndTime</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DoctorClinics)
                            {
                                <tr>
                                    <th>@item.Doctor.Name</th>
                                    <th>@item.Doctor.DoctorSpecialty</th>
                                    <th>@item.BestTimeForVisit.StartDay</th>
                                    <th>@item.BestTimeForVisit.EndDay</th>
                                    <th>@item.BestTimeForVisit.StartTime</th>
                                    <th>@item.BestTimeForVisit.EndTime</th>
                                    <th>
                                        <div class="text-center">
                                            <a href="/Doctors/Details?id=@item.DoctorId" class='btn btn-success text-white' style='cursor:pointer;'>
                                                <i class="fa fa-book"></i>
                                            </a>
                                            &nbsp;
                                            <a class='btn btn-danger text-white' style='cursor:pointer;'
                                           onclick='Delete("/Doctors/DeleteDoctorClinic?idD=@item.DoctorId&idC=@item.ClinicId",this,"doctor_clinic")'>
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

        function toggle() {
            $("input").prop('disabled', (i, v) => !v);
            $("select").prop('disabled', (i, v) => !v);
            $("button").prop('hidden', (i, v) => !v);
        }

        function saveChanges() {

            var clinic = {};

            clinic.Id = @Model.Id;
            clinic.Address = $("#Address").val();
            clinic.Phone1 = $("#Phone1").val();
            if ($("#Phone2").val() != "")
                clinic.Phone2 = $("#Phone2").val();
            if ($("#Phone3").val() != "")
                clinic.Phone3 = $("#Phone3").val();
            clinic.regionId = parseInt($("#RegionId option:selected").val());

            if (clinic.regionId == -1) {
                console.log("e");
                $("#Region").text("must select region");
                return;
            } else {
                $("#Region").text('');
            }

            console.log(JSON.stringify(clinic));

            $.ajax({
                type: "POST",
                url: "/Clinics/Update",
                data: JSON.stringify(clinic),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                        toggle();
                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });
        }

        function Delete(url, button, table_name) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                var row = $(button).closest("TR");
                                var table = $('#' + table_name)[0];
                                table.deleteRow(row[0].rowIndex);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }
    </script>

}

