@model List<SelectListItem>

@{
    var DaySelectList = Enum.GetNames(typeof(DaysOfWeek)).Select((i, c) => new SelectListItem
            {
                Text = i,
                Value = c.ToString(),
            }).AsQueryable();
}

<div class="row" style="width:100%">
    <div class="col-12 pd-2">
        <div class="card custom-card">
            <div class="row">
                <h1 class="col-12">Clinics</h1>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="Clinic" class="control-label">Clinic</label>
                    <select id="Clinic" asp-items="@Model" class="form-control"></select>
                </div>

                <h2 class="col-12">Best time</h2>

                <div class="form-group col-3">
                    <label for="startDayBestClinic" class="control-label">startDay</label>
                    <select id="startDayBestClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="endDayBestClinic" class="control-label">endDay</label>
                    <select id="endDayBestClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="startTimeBestClinic" class="control-label">startTime</label>
                    <input id="startTimeBestClinic" name="startTime" type="time" class="form-control" />
                </div>
                <div class="form-group col-3">
                    <label for="endTimeBestClinic" class="control-label">endTime</label>
                    <input id="endTimeBestClinic" name="endTime" type="time" class="form-control" />
                </div>

                <h2 class="col-12">Times</h2>

                <div class="form-group col-3">
                    <label for="startDayClinic" class="control-label">startDay</label>
                    <select id="startDayClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="endDayClinic" class="control-label">endDay</label>
                    <select id="endDayClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-2">
                    <label for="startTimeClinic" class="control-label">startTime</label>
                    <input id="startTimeClinic" name="startTime" type="time" class="form-control" />
                </div>
                <div class="form-group col-2">
                    <label for="endTimeClinic" class="control-label">endTime</label>
                    <input id="endTimeClinic" name="endTime" type="time" class="form-control" />
                </div>
                <div class="form-group col-2">
                    <label for="add_time_clinic" class="control-label">&nbsp;</label>
                    <button type="button" id="add_time_clinic" class="form-control btn btn-outline-info">Add</button>
                </div>

                <div class="form-group col-12">
                    <table class="table form-group col-12" id="t_times_clinic">
                        <thead>
                            <tr>
                                <th scope="col" width="23%">startDay</th>
                                <th scope="col" width="23%">endDay</th>
                                <th scope="col" width="23%">startTime</th>
                                <th scope="col" width="23%">endTime</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="offset-12 form-group mt-3 col-3">
                    <button type="submit" id="btnSave" class="btn btn-info mr-2">
                        Create
                    </button>
                    <a asp-action="Details" asp-route-id="@ViewData["id"]" class="btn btn-warning text-white">Cancel</a>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        const daysValue =
        {
            0: "Saturday",
            1: "Sunday",
            2: "Monday",
            3: "Tuesday",
            4: "Wednesday",
            5: "Thursday",
            6: "Friday",
        };

        const daysText =
        {
            "Saturday": 0,
            "Sunday": 1,
            "Monday": 2,
            "Tuesday": 3,
            "Wednesday": 4,
            "Thursday": 5,
            "Friday": 6,
        };

        $("body").on("click", "#add_time_clinic", function () {

            var txtStartTime = $("#startTimeClinic");
            var txtEndTime = $("#endTimeClinic");
            var txtStartDay = $("#startDayClinic option:selected");
            var txtEndDay = $("#endDayClinic option:selected");

            if (txtEndTime.val() == "" || txtStartTime.val() == "") {
                return;
            }

            var data = new Date("2011-04-11T" + txtStartTime.val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            data = new Date("2011-04-11T" + txtEndTime.val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            tTimes = $("#t_times_clinic tbody")[0];

            var row = tTimes.insertRow(-1);

            var cell = $(row.insertCell(-1));
            cell.html(daysValue[txtStartDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(daysValue[txtEndDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(ST);

            cell = $(row.insertCell(-1));
            cell.html(ET);

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input/>");

            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.attr("class", "btn btn-danger btn-sm")
            btnRemove.val("x");
            cell.append(btnRemove);

            txtStartTime.val("");
            txtEndTime.val("");
        });

        function Remove(button) {
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete:" + name)) {
                var table = $('#t_times_clinic')[0];
                table.deleteRow(row[0].rowIndex);
            }
        };

        function clinicObject() {
            var clinic = {};

            if ($("#startTimeBestClinic").val() == "" || $("#endTimeBestClinic").val() == "") {
                return null;
            }

            var data = new Date("2011-04-11T" + $("#startTimeBestClinic").val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ");

            data = new Date("2011-04-11T" + $("#endTimeBestClinic").val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ");

            clinic.DoctorId = @ViewData["id"];
            clinic.ClinicId = parseInt($("#Clinic option:selected").val());
            clinic.bestTimeForVisit = {};
            clinic.bestTimeForVisit.startTime = ST.trim();
            clinic.bestTimeForVisit.endTime = ET.trim();
            clinic.bestTimeForVisit.startDay = parseInt($("#startDayBestClinic option:selected").val());
            clinic.bestTimeForVisit.endDay = parseInt($("#endDayBestClinic option:selected").val());
            clinic.times = [];


            $("#t_times_clinic TBODY TR").each(function () {
                var row = $(this);
                var time = {};
                time.startDay = daysText[row.find("TD").eq(0).html()];
                time.endDay = daysText[row.find("TD").eq(1).html()];
                time.startTime = row.find("TD").eq(2).html().trim();
                time.endTime = row.find("TD").eq(3).html().trim();
                clinic.times.push(time);
            });



            console.log(JSON.stringify(clinic));
            return clinic;
        }

        $("body").on("click", "#btnSave", function () {

            var clinic = clinicObject();

            if (clinic == null)
                return;

            $.ajax({
                type: "POST",
                url: "/Doctors/AddClinic",
                data: JSON.stringify(clinic),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    window.location.href = '/Doctors/Details/@ViewData["id"]'
                }
            });
        });
    </script>
}

