@model DoctorHospital

@{
    var DaySelectList = Enum.GetNames(typeof(DaysOfWeek)).Select((i, c) => new SelectListItem
            {
                Text = i,
                Value = c.ToString(),
            }).AsQueryable();
    var sTime = Model.BestTimeForVisit.StartTime;
    var eTime = Model.BestTimeForVisit.EndTime;

    Model.BestTimeForVisit.StartTime = Convert.ToDateTime(sTime).ToString("HH:mm");
    Model.BestTimeForVisit.EndTime = Convert.ToDateTime(eTime).ToString("HH:mm");
}

<div class="row" style="width:100%">
    <div class="col-12 pd-2">
        <div class="card custom-card">
            <div class="row">
                <h1 class="col-12">Hospitals</h1>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="Hospital" class="control-label">Name</label>
                    <input disabled id="HospitalName" asp-for="@Model.Hospital.Name" class="form-control"></input>
                </div>

                <div class="form-group col-6">
                    <label for="Hospital" class="control-label">Address</label>
                    <input disabled id="HospitalAddress" asp-for="@Model.Hospital.Address" class="form-control"></input>
                </div>

                <h2 class="col-12">Best time</h2>

                <div class="form-group col-3">
                    <label for="startDayBestHospital" class="control-label">startDay</label>
                    <select disabled id="startDayBestHospital" asp-for="BestTimeForVisit.StartDay" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="endDayBestHospital" class="control-label">endDay</label>
                    <select disabled id="endDayBestHospital" asp-for="BestTimeForVisit.EndDay" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="startTimeBestHospital" class="control-label">startTime</label>
                    <input disabled id="startTimeBestHospital" asp-for="BestTimeForVisit.StartTime" name="startTime" type="time" class="form-control" />
                </div>
                <div class="form-group col-3">
                    <label for="endTimeBestHospital" class="control-label">endTime</label>
                    <input disabled id="endTimeBestHospital" asp-for="BestTimeForVisit.EndTime" name="endTime" type="time" class="form-control" />
                </div>

                <h2 class="col-12">Times</h2>

                <div hidden class="form-group col-3 edit">
                    <label for="startDayHospital" class="control-label">startDay</label>
                    <select disabled id="startDayHospital" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div hidden class="form-group col-3 edit">
                    <label for="endDayHospital" class="control-label">endDay</label>
                    <select disabled id="endDayHospital" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="startTimeHospital" class="control-label">startTime</label>
                    <input disabled id="startTimeHospital" name="startTime" type="time" class="form-control" />
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="endTimeHospital" class="control-label">endTime</label>
                    <input disabled id="endTimeHospital" name="endTime" type="time" class="form-control" />
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="add_time_hospital" class="control-label">&nbsp;</label>
                    <button hidden type="button" id="add_time_hospital" class="form-control btn btn-outline-info">Add</button>
                </div>

                <div class="form-group col-12">
                    <table class="table form-group col-12" id="t_times_hospital">
                        <thead>
                            <tr>
                                <th scope="col">startDay</th>
                                <th scope="col">endDay</th>
                                <th scope="col">startTime</th>
                                <th scope="col">endTime</th>
                                <th hidden></th>
                                <th class="edit" hidden width="8%" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Times)
                            {
                                <tr>
                                    <td>@item.StartDay</td>
                                    <td>@item.EndDay</td>
                                    <td> @item.StartTime</td>
                                    <td> @item.EndTime</td>
                                    <td hidden>@item.Id</td>
                                    <td class="edit" hidden>
                                        <input hidden disabled type="button" onclick="Remove(this);" class="btn btn-danger btn-sm edit" value="x" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="offset-12 form-group mt-3 col-3">
                    <button onclick="toggle()" class="btn btn-info mr-2">
                        Edit
                    </button>
                    <button hidden id="btnSave" class="btn btn-info mr-2">
                        Save
                    </button>
                    <a asp-action="Details" asp-route-id="@Model.DoctorId" class="btn btn-warning text-white">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        const daysValue =
        {
            0: "Saturday",
            1: "Sunday",
            2: "Monday",
            3: "Tuesday",
            4: "Wednesday",
            5: "Thursday",
            6: "Friday",
        };

        const daysText =
        {
            "Saturday": 0,
            "Sunday": 1,
            "Monday": 2,
            "Tuesday": 3,
            "Wednesday": 4,
            "Thursday": 5,
            "Friday": 6,
        };

        function toggle() {
            $("input").prop('disabled', (i, v) => !v);
            $("select").prop('disabled', (i, v) => !v);
            $("button").prop('hidden', (i, v) => !v);
            $(".edit").prop('hidden', (i, v) => !v);
            $("#HospitalName").prop('disabled', (i, v) => true);
            $("#HospitalAddress").prop('disabled', (i, v) => true);
        }

        $("body").on("click", "#add_time_hospital", function () {

            var txtStartTime = $("#startTimeHospital");
            var txtEndTime = $("#endTimeHospital");
            var txtStartDay = $("#startDayHospital option:selected");
            var txtEndDay = $("#endDayHospital option:selected");

            if (txtEndTime.val() == "" || txtStartTime.val() == "") {
                return;
            }

            var data = new Date("2011-04-11T" + txtStartTime.val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            data = new Date("2011-04-11T" + txtEndTime.val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            tTimes = $("#t_times_hospital tbody")[0];

            var row = tTimes.insertRow(-1);

            var cell = $(row.insertCell(-1));
            cell.html(daysValue[txtStartDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(daysValue[txtEndDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(ST);

            cell = $(row.insertCell(-1));
            cell.html(ET);

            cell = $(row.insertCell(-1));
            cell.html("0");
            cell.addClass("d-none");

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input/>");

            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.attr("class", "btn btn-danger btn-sm")
            btnRemove.val("x");
            cell.append(btnRemove);

            txtStartTime.val("");
            txtEndTime.val("");
        });

        function Remove(button) {
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete:" + name)) {
                var table = $('#t_times_hospital')[0];
                table.deleteRow(row[0].rowIndex);
            }
        };

        function hospitalObject() {
            var hospital = {};

            if ($("#startTimeBestHospital").val() == "" || $("#endTimeBestHospital").val() == "") {
                return null;
            }

            var data = new Date("2011-04-11T" + $("#startTimeBestHospital").val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            data = new Date("2011-04-11T" + $("#endTimeBestHospital").val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            hospital.DoctorId = @Model.DoctorId;
            hospital.HospitalId = @Model.HospitalId;
            hospital.bestTimeForVisit = {};
            hospital.bestTimeForVisit.id = @Model.BestTimeForVisit.Id;
            hospital.bestTimeForVisit.startTime = ST.trim();
            hospital.bestTimeForVisit.endTime = ET.trim();
            hospital.bestTimeForVisit.startDay = parseInt($("#startDayBestHospital option:selected").val());
            hospital.bestTimeForVisit.endDay = parseInt($("#endDayBestHospital option:selected").val());
            hospital.times = [];


            $("#t_times_hospital TBODY TR").each(function () {
                var row = $(this);
                var time = {};
                time.startDay = daysText[row.find("TD").eq(0).html()];
                time.endDay = daysText[row.find("TD").eq(1).html()];
                time.startTime = row.find("TD").eq(2).html().trim();
                time.endTime = row.find("TD").eq(3).html().trim();
                time.id = parseInt(row.find("TD").eq(4).html().trim());
                hospital.times.push(time);
            });

            console.log(JSON.stringify(hospital));

            return hospital;
        }

        $("body").on("click", "#btnSave", function () {

            var hospital = hospitalObject();

            if (hospital == null)
                return;

            $.ajax({
                type: "POST",
                url: "/Doctors/EditHospital",
                data: JSON.stringify(hospital),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    window.location.href = '/Doctors/Details/@Model.DoctorId';
                }
            });
        });
    </script>
    }
