@model DoctorClinic

@{
    var DaySelectList = Enum.GetNames(typeof(DayOfWeekInArabic)).Select((i, c) => new SelectListItem
            {
                Text = i,
                Value = c.ToString(),
            }).AsQueryable();
    var sTime = Model.BestTimeForVisit.StartTime;
    var eTime = Model.BestTimeForVisit.EndTime;

    Model.BestTimeForVisit.StartTime = Convert.ToDateTime(sTime).ToString("HH:mm");
    Model.BestTimeForVisit.EndTime = Convert.ToDateTime(eTime).ToString("HH:mm");
}

<div class="row" style="width:100%">
    <div class="col-12 pd-2">
        <div class="card custom-card">
            <div class="row">
                <h1 class="col-12">Clinics</h1>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="Clinic" class="control-label">Clinic</label>
                    <input disabled id="Clinic" value="@Model.Clinic.Address" class="form-control" />
                </div>

                <h2 class="col-12">Best time</h2>

                <div class="form-group col-3">
                    <label for="startDayBestClinic" class="control-label">startDay</label>
                    <select disabled id="startDayBestClinic" asp-for="BestTimeForVisit.StartDay" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="endDayBestClinic" class="control-label">endDay</label>
                    <select disabled id="endDayBestClinic" asp-for="BestTimeForVisit.EndDay" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div class="form-group col-3">
                    <label for="startTimeBestClinic" class="control-label">startTime</label>
                    <input disabled id="startTimeBestClinic" asp-for="BestTimeForVisit.StartTime" name="startTime" type="time" class="form-control" />
                </div>
                <div class="form-group col-3">
                    <label for="endTimeBestClinic" class="control-label">endTime</label>
                    <input disabled id="endTimeBestClinic" asp-for="BestTimeForVisit.EndTime" name="endTime" type="time" class="form-control" />
                </div>

                <h2 class="col-12">Times</h2>

                <div hidden class="form-group col-3 edit">
                    <label for="startDayClinic" class="control-label">startDay</label>
                    <select disabled id="startDayClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div hidden class="form-group col-3 edit">
                    <label for="endDayClinic" class="control-label">endDay</label>
                    <select disabled id="endDayClinic" asp-items="@DaySelectList" class="form-control"></select>
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="startTimeClinic" class="control-label">startTime</label>
                    <input disabled id="startTimeClinic" name="startTime" type="time" class="form-control" />
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="endTimeClinic" class="control-label">endTime</label>
                    <input disabled id="endTimeClinic" name="endTime" type="time" class="form-control" />
                </div>
                <div hidden class="form-group col-2 edit">
                    <label for="add_time_clinic" class="control-label">&nbsp;</label>
                    <button hidden type="button" id="add_time_clinic" class="form-control btn btn-outline-info">Add</button>
                </div>

                <div class="form-group col-12">
                    <table class="table form-group col-12" id="t_times_clinic">
                        <thead>
                            <tr>
                                <th scope="col">startDay</th>
                                <th scope="col">endDay</th>
                                <th scope="col">startTime</th>
                                <th scope="col">endTime</th>
                                <th hidden></th>
                                <th class="edit" hidden width="8%" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Times)
                            {
                                <tr>
                                    <td>@item.StartDay</td>
                                    <td>@item.EndDay</td>
                                    <td> @item.StartTime</td>
                                    <td> @item.EndTime</td>
                                    <td hidden>@item.Id</td>
                                    <td class="edit" hidden>
                                        <input hidden disabled type="button" onclick="Remove(this);" class="btn btn-danger btn-sm edit" value="x" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="offset-12 form-group mt-3 col-3">
                    <button onclick="toggle()" class="btn btn-info mr-2">
                        Edit
                    </button>
                    <button hidden id="btnSave" class="btn btn-info mr-2">
                        Save
                    </button>
                    <a asp-action="Details" asp-route-id="@Model.DoctorId" class="btn btn-warning text-white">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        const daysValue =
        {
            0: "سبت",
            1: "حد",
            2: "اثنين",
            3: "ثلاثاء",
            4: "اربعاء",
            5: "خميس",
            6: "جمعة",
        };

        const daysText =
        {
            "سبت": 0,
            "حد": 1,
            "اثنين": 2,
            "ثلاثاء": 3,
            "اربعاء": 4,
            "خميس": 5,
            "جمعة": 6,
        };

        function toggle() {
            $("input").prop('disabled', (i, v) => !v);
            $("select").prop('disabled', (i, v) => !v);
            $("button").prop('hidden', (i, v) => !v);
            $(".edit").prop('hidden', (i, v) => !v);
            $("#Clinic").prop('disabled', (i, v) => true);
        }

        $("body").on("click", "#add_time_clinic", function () {

            var txtStartTime = $("#startTimeClinic");
            var txtEndTime = $("#endTimeClinic");
            var txtStartDay = $("#startDayClinic option:selected");
            var txtEndDay = $("#endDayClinic option:selected");

            if (txtEndTime.val() == "" || txtStartTime.val() == "") {
                return;
            }

            var data = new Date("2011-04-11T" + txtStartTime.val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            data = new Date("2011-04-11T" + txtEndTime.val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            tTimes = $("#t_times_clinic tbody")[0];

            var row = tTimes.insertRow(-1);

            var cell = $(row.insertCell(-1));
            cell.html(daysValue[txtStartDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(daysValue[txtEndDay.val()]);

            cell = $(row.insertCell(-1));
            cell.html(ST);

            cell = $(row.insertCell(-1));
            cell.html(ET);

            cell = $(row.insertCell(-1));
            cell.html("0");
            cell.addClass("d-none");

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input/>");

            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.attr("class", "btn btn-danger btn-sm")
            btnRemove.val("x");
            cell.append(btnRemove);

            txtStartTime.val("");
            txtEndTime.val("");
        });

        function Remove(button) {
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete:" + name)) {
                var table = $('#t_times_clinic')[0];
                table.deleteRow(row[0].rowIndex);
            }
        };

        function clinicObject() {
            var clinic = {};

            if ($("#startTimeBestClinic").val() == "" || $("#endTimeBestClinic").val() == "") {
                return null;
            }

            var data = new Date("2011-04-11T" + $("#startTimeBestClinic").val() + ":00");
            var ST = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            data = new Date("2011-04-11T" + $("#endTimeBestClinic").val() + ":00");
            var ET = data.toLocaleString('en-GB', {
                hour12: true,
            }).split(",")[1].replace(":00 ", " ").trim();

            clinic.DoctorId = @Model.DoctorId;
            clinic.ClinicId = @Model.ClinicId;
            clinic.bestTimeForVisit = {};
            clinic.bestTimeForVisit.id = @Model.BestTimeForVisit.Id;
            clinic.bestTimeForVisit.startTime = ST.trim();
            clinic.bestTimeForVisit.endTime = ET.trim();
            clinic.bestTimeForVisit.startDay = parseInt($("#startDayBestClinic option:selected").val());
            clinic.bestTimeForVisit.endDay = parseInt($("#endDayBestClinic option:selected").val());
            clinic.times = [];


            $("#t_times_clinic TBODY TR").each(function () {
                var row = $(this);
                var time = {};
                time.startDay = daysText[row.find("TD").eq(0).html()];
                time.endDay = daysText[row.find("TD").eq(1).html()];
                time.startTime = row.find("TD").eq(2).html().trim();
                time.endTime = row.find("TD").eq(3).html().trim();
                time.id = parseInt(row.find("TD").eq(4).html().trim());
                clinic.times.push(time);
            });

            console.log(JSON.stringify(clinic));

            return clinic;
        }

        $("body").on("click", "#btnSave", function () {

            var clinic = clinicObject();

            if (clinic == null)
                return;

            $.ajax({
                type: "POST",
                url: "/Doctors/EditClinic",
                data: JSON.stringify(clinic),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    window.location.href = '/Doctors/Details/@Model.DoctorId';
                }
            });
        });
    </script>
}

